.navbar-container {
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.navbar-container,
.navbar-link,
.information{
    display: flex;
    align-items: center;
}

.navbar_info-item,
.navbar_link-item,
.subtitle,
.title {
    font-family: poppins, sans-serif;
    color: #6C757D ;
}

.navbar_info-item,
.navbar_link-item{
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar_info-item{
    padding-left: 1rem;
}
.navbar_link-item{
    padding-left: 2rem;
}

.navbar_info-item:hover,
.navbar_link-item:hover
{
    color: #d3d3d3;
}

.logo{
    width: 11rem;
}

.title {
    margin-top: 1.5rem;
}

.subtitle{
    margin-top: 0.5rem;
}

.btn {
  color: #54A8E1;
}