	<nav class="fixed-top navbar-container">
		<div class="information">
			<div>
				<img class="logo" src="img/info.png" alt="">
			</div>
			<div class="navbar-info">
				<h3><a href="{{path('home')}}" class="navbar_info-item">Covid France</a></h3>
			</div>
		</div>
		<div class="navbar-link">
			<a href="{{path('home')}}" class="navbar_link-item">France</a>
			<a href="{{path('departement')}}" class="navbar_link-item">Département</a>
		</div>
	</nav>