	<nav class="fixed-top navbar-container">
		<div class="information">
			<div>
				<img class="logo" src="{{asset('img/info.png') }}" alt="logo d'information">
			</div>
			<div class="navbar-info">
				<h3><a href="{{path('home')}}" class="navbar_info-item">Covid-19 France</a></h3>
			</div>
		</div>
		<div class="navbar-link">
			<a href="{{path('home')}}" class="navbar_link-item">France</a>
			<a href="{{path('departement')}}" class="navbar_link-item">Département</a>
		</div>
	</nav>